{% extends 'base.html' %}
{% block content %}
<h2>My Orders</h2>
<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Ordered Date</th>
            <th>Shipped</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.product.name }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.ordered_date }}</td>
            <td>{{ order.shipped }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
